
$primary-color: #006CA8;
$text: #454545;
$accent: #65818A;
$background: #FFFFFF;
$black-global: #000000;
$grey: #666666;
$warm-yellow: #FFC800;
$cyan-bluish-gray: #abb8c3;
$white: #ffffff;
$pale-pink: #f78da7;
$light-pink: #FEC7C8;
$vivid-red: #cf2e2e;
$vivid-orange: #ff6900;
$vivid-amber: #fcb900;
$light-green-cyan: #7bdcb5;
$vivid-green-cyan: #00d084;
$cyan-blue: #8ed1fc;
$blue: #0693e3;
$purple: #9b51e0;
$light-yellow: #FFD8A1;